{{- /* 自定义 <head> 区域，覆盖 LoveIt 默认模板 */ -}}
    <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <title>
        {{- if .IsHome -}}
          {{ .Site.Params.homeTitle | default .Site.Title }}
        {{- else -}}
          {{ .Title }} - {{ .Site.Params.shortTitle | default .Site.Title }}
        {{- end -}}
      </title>
    
      <meta name="description" content="{{ .Site.Params.description }}" />
      <meta name="keywords" content="{{ delimit .Site.Params.keywords ", " }}" />
      <link rel="icon" href="{{ .Site.Params.assets.favicon }}" />
    
      {{- $styles := resources.Get "scss/style.scss" | toCSS | minify | fingerprint }}
      <link rel="stylesheet" href="{{ $styles.Permalink }}" integrity="{{ $styles.Data.Integrity }}" />
    
      {{- /* 加载你的自定义 CSS extended.css */ -}}
      {{- $custom := resources.Get "css/extended.css" | toCSS | minify | fingerprint }}
      <link rel="stylesheet" href="{{ $custom.Permalink }}" integrity="{{ $custom.Data.Integrity }}" />

      <!-- ✅ CC4.0 授权声明 -->
      <link rel="license" href="https://creativecommons.org/licenses/by/4.0/" />
        
    </head>
    
